/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #2b4c7e;
  --first-color-alt: #1e3557;
  --title-color: #232323;
  --text-color: #5b5b5b;
  --text-color-light: #8d8d8d;
  --body-color: #fefefe;
  --container-color: #ffffff;
  --success-color: #4caf50;
  --error-color: #f44336;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow 0.3s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--title-color);
}

.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--container-color);
    width: 100%;
    padding-block: 3.5rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search,
.nav__login {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.3s;
}

.nav__search:hover,
.nav__login:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.12);
}

/*=============== SEARCH ===============*/
.search {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
  padding: 8rem 1.5rem 2rem;
  transition: top 0.4s;
}

.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--body-color);
  padding-inline: 1rem;
  border-radius: 4rem;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1.25rem;
  background-color: var(--body-color);
  color: var(--text-color);
  border: none;
  outline: none;
}

.search__close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
}

/* Show search */
.show-search {
  top: 0;
}

/*=============== LOGIN ===============*/
.login {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
  padding: 8rem 1.5rem 2rem;
  transition: top 0.4s;
}

.login__form {
  display: grid;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  row-gap: 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--first-color-alt);
  max-width: 400px;
  margin-inline: auto;
}

.login__title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.login__group {
  display: grid;
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.login__input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--first-color-alt);
  background-color: var(--container-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
}

.login__signup,
.login__forgot {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__signup a,
.login__forgot {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.login__button {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--first-color);
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  margin-top: 1rem;
}

.login__button:hover {
  background-color: var(--first-color-alt);
}

.login__close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
}

/* Show login */
.show-login {
  top: 0;
}

/*=============== ALERT MESSAGES ===============*/
.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
}

.alert-success {
  background-color: var(--success-color);
  color: white;
}

.alert-error {
  background-color: var(--error-color);
  color: white;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__buttons {
    width: initial;
  }

  .nav__menu {
    width: 60%;
  }

  .search__form,
  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__menu {
    width: initial;
  }

  .search__close {
    top: 2.5rem;
    right: 2.5rem;
  }

  .login__close {
    top: 3.5rem;
    right: 2.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }

  .search {
    padding: 8rem 2rem 2rem;
  }

  .search__form {
    max-width: 500px;
  }

  .search__close {
    font-size: 2rem;
  }

  .login {
    padding: 6rem 2rem 2rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }

  .login__close {
    font-size: 2rem;
  }
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}


