{% extends 'homepage/content/main.html' %}
{% load static %}

{% block content %}

<!-- About Section -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;">
    <div class="w3-container w3-padding-32 w3-center">
        <h3>About Me, The Food Man</h3><br>
        <img src="{% static 'images/about_picture.jpg' %}" alt="The FoodPicker" class="w3-image" style="display:block;margin:auto"
            width="800" height="533">
        <div class="w3-padding-32">
            <h4><b>Micheal Wong</b></h4>
            <h6><i>With Passion For Real, Good Food</i></h6>
            <p> <!-- Info section--></p>
        </div>
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-bottom:-100px">
            <footer class="w3-row-padding w3-padding-32">
                <div class="w3-third">
                    <h3>About</h3>
                    <p>
                        <!-- about section-->

                    </p>
                    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a>FoodPicker
                    </p>
                </div>

                <div class="w3-third">
                    <h3>BLOG POSTS</h3>
                    <ul class="w3-ul w3-hoverable">
                        <li class="w3-padding-16">
                            <img src="#" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Lorem</span><br>
                            <span>Sed mattis nunc</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="#" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Ipsum</span><br>
                            <span>Praes tinci sed</span>
                        </li>
                    </ul>
                </div>

                <div class="w3-third w3-serif">
                    <h3>POPULAR TAGS</h3>
                    <p>
                        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
                        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
                        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
                        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span
                            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
                    </p>
                </div>
        </div>
    </div>

    {% endblock %}