{% extends 'homepage/content/main.html' %}

{% load static %}
{% block content %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Messages:</strong> {{message}}
</div>
{% endfor %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Restaurant Request Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!DOCTYPE html>
<html>

<head>
    <title>Location Form</title>
</head>

<style>
    .button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<body style="display:block;">
    <div class="whole" style="display: block; padding-left: 5%; padding-right: 5%; padding-top:5cap; font-size:15px;">
        <div class="form" style="text-align: center;">
            <h2>Please fill up the form</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button" value="Submit">


            </form>
        </div>

    </div>
</body>

</html>

{% endblock %}