body {
    background-color: white
  }
  
  h2 {
    border-bottom: 2px solid #1e90ff;
  }
  
  .container {
    color: #1e90ff;
    background-color: #ffffff;
    padding: 15px;
    border-color: black;
  }
  
  button {
    background-color: #ffffff;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    padding: 5px;
  }