{% extends "homepage/content/main.html" %}
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/accounts/django_reset.css' %}">

<body>
    <div class="container">
        <div id="LoginAndRegistrationForm">
            <h2 id="formTitle">Enter New Password</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="center mt-20">
                    <input class="input-text" name="new_password1" type="password" id="forgotPassEmail"
                        placeholder="New password:">

                    <div class="center mt-20">
                        <input class="input-text" name="new_password2" type="password" id="forgotPassEmail"
                            placeholder="Confirm password:">
                    </div>
                    <div class="center mt-20">
                        <input class="Submit-Btn" type="submit" value="Reset Password" id="PasswordResetBtn">
                    </div>
            </form>

        </div>

    </div>


</body>

{% endblock content %}