{% extends 'homepage/content/main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts/django_reset.css' %}">

<body>
    <div class="container">
        <div id="LoginAndRegistrationForm">
            <h1 id="formTitle">Forgot Password</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="center mt-20">
                    <label for="id_email">Email:</label>
                    <input class="input-text" name="email" type="email" id="forgotPassEmail"
                        placeholder="Email Address">
                </div>
                <div class="center mt-20">
                    <input class="Submit-Btn" type="submit" value="Reset Password" id="PasswordResetBtn">
                </div>
            </form>
            <p class="center mt-20 already-have-account">
                Click Here to <a href={% url "signup" %}>Create New Account</a>
            </p>
        </div>

    </div>

</body>

{% endblock %}