{% extends "homepage/content/main.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accounts/django_reset.css' %}">

<body>
    <div class="container">

        <div id="LoginAndRegistrationForm">
            <h1 id="Title">Reset Password Request Sent</h1>
            <br>
            <h5>We've emailed you instructions for getting your password, if an account exists with the email you
                entered. You should receive them shortly.</h5>
            <br>
            <h5>If you don't receive an email, PLease make sure you've entered the email address you registered with,
                and
                check your spam folder</h5>
            <br>
            <p>Press <a href="{% url 'res.home' %}" class="link">Here</a> to head back Homepage</p>

        </div>

    </div>

</body>

{% endblock content %}